---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="anchor" id="about"></div>
<div class="docs-section" id="about" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h4>About</h4>
    <p>
        Hello, thank you for visiting my site! 👋
    </p>
    <p>
        I am a Ph.D. candidate (doctoral researcher) funded by the <a href="https://erc.europa.eu/homepage" target="_blank" style="color:#49108B;">European Research Council</a>, under the supervision of <a href="https://www.uni-saarland.de/lehrstuhl/demberg/members/verademberg.html" target="_blank" style="color:#49108B;">Prof. Dr. Vera Demberg</a> at <a href="https://saarland-informatics-campus.de/en/" target="_blank" style="color:#49108B;">Saarland Informatics Campus</a>, <a href="https://www.uni-saarland.de/en/home.html" target="_blank" style="color:#49108B;">Saarland University</a>. 
        I was also a visiting Ph.D. student at the University of Edinburgh in 2024, working under the guidance of <a href="https://homepages.inf.ed.ac.uk/mlap/" target="_blank" style="color:#49108B;">Prof. Dr. Mirella Lapata</a>. 
        To contribute to the NLP community, I joined the <a href="https://aclrollingreview.org/organization" target="_blank" style="color:#49108B;"> ACL Rolling Review Team</a> as a technical member, primarily responsible for ARR website updates.
        Prior to my Ph.D. studies, I earned a Master’s degree in Computer Science at the <a href="https://www.uva.nl/en" target="_blank" style="color:#49108B;">University of Amsterdam</a>, under the supervision of <a href="https://www.uva.nl/en/profile/s/i/k.simaan/k.simaan.html" target="_blank" style="color:#49108B;"> Prof. Dr. Khalil Sima'an</a> at the <a href="https://www.illc.uva.nl/" target="_blank" style="color:#49108B;">Institute for Logic, Language and Computation (ILLC)</a>.
    </p>
</div>

<!-- ========== Education========== -->
<div class="anchor" id="education"></div>
<div class="docs-section" id="education">
    <h4>Education</h4>

          <div class="paper">
            <p class="title"><b>Saarland University <span style="float:right;">Jul. 2022 - Present</span></b></p>
            <p>Ph.D. in Computational Linguistics</p>
          </div>
        
          <div class="paper">
            <p class="title"><b>University of Amsterdam <span style="float:right;">Feb. 2020 - Jul. 2022</span></b></p>
            <p>M.Sc. in Computer Science</p>
          </div>

          <div class="paper">
            <p class="title"><b>Vrije University Amsterdam <span style="float:right;">Feb. 2020 - Jul. 2022</span></b></p>
            <p>M.Sc. in Computer Science</p>
          </div>
        
          <div class="paper">
            <p class="title"><b>Central China Normal University <span style="float:right;">Sep. 2015 - Jul. 2019</span></b></p>
            <p>B.Eng. in Software Engineering</p>
          </div>
        
  </div>

<!-- ==========Work experience========== -->
<div class="anchor" id="experiences"></div>
<div class="docs-section" id="experiences">
    <h4>Experiences</h4>
          <div class="paper">
            <p class="title"><b>ACL Rolling Review <span style="float:right;">May. 2024 - Present</span></b></p>
            <p>Organization Member</p>
          </div>
  
          <div class="paper">
            <p class="title"><b>Tencent <span style="float:right;">Jul. 2025 - Dec. 2025</span></b></p>
            <p>Research Intern</p>
          </div>
  
          <div class="paper">
            <p class="title"><b>University of Edinburgh <span style="float:right;">Feb. 2024 - Aug. 2024</span></b></p>
            <p>Visiting student</p>
          </div>

          <div class="paper">
            <p class="title"><b>Volkswagen Group <span style="float:right;">Jan. 2021 - Aug. 2021</span></b></p>
            <p>Research Intern</p>
          </div>

          <div class="paper">
            <p class="title"><b>National Tsing Hua University <span style="float:right;">Sep. 2018 - Jan. 2019</span></b></p>
            <p>Exchange Student</p>
          </div>
</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="anchor" id="publications"></div>
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank" style="color:#49108B;">Google Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

            {% if paper.info %}
              <a class="button" href="{{ paper.info }}" target="_blank">Info</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
             
           {% if paper.info %}
              <a class="button" href="{{ paper.info }}" target="_blank">Info</a>
           {% endif %}
             
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ==========Academic Service========== -->
<div class="anchor" id="services"></div>
<div class="docs-section" id="services">
    <h4>Services</h4>
    <ul>
        <li><b>Conference Area Chair:</b> ACL, EMNLP.</li>
        <li><b>Conference Reviewer:</b> ACL, EMNLP, NAACL, COLM, COLING, NeurIPS, ICML, ICLR, CVPR, WWW, IJCAI, SIGIR, ECAI, CIKM, ECCV, CoNLL.</li>
        <li><b>Journal Reviewer:</b> TMLR, DKE, IPM.</li>
    </ul>
</div>

<div class="docs-section" id="misc">
    <h4>Misc.</h4>
    <h6><b>More about me:</b></h6>
    <ul>
        <li>I was born in the southernmost city in China: <a href="https://en.wikipedia.org/wiki/Sanya" target="_blank" style="color:#49108B;">Sanya.</a></li>
        <li>Originating from a peasant family, my parents ventured to Sanya City as <a href="https://en.wikipedia.org/wiki/Mingong" target="_blank" style="color:#49108B;">migrant workers</a>. Throughout my upbringing, they have showered me with immeasurable love, for which I will forever remain deeply grateful.</li>
        <li>Over time, I came to understand the complexities of life and the fact that not everything is black and white. This realization led me to make peace with myself and cultivate a more open-minded perspective.</li>
    </ul>
    <h6><b>Life pursuit:</b></h6>
    <p>
        I have long aspired to make a meaningful contribution to society, dreaming of research or work that could positively impact many people around the world.
    </p>

    
</div>
